/* 
https://colorhunt.co/palette/1c0c5b3d2c8d916bbfc996cc
#1C0C5B
#3D2C8D
#916BBF
#C996CC 
*/

.left-nav {
    height: 100%;
    margin:0;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #3D2C8D;
  }
  
  .right-nav {
    height: 100%;
    margin:0;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #3D2C8D;
    content:'';
  }
  
  .center-nav{
  margin-left:12%;
  padding:2%;
  color:whitesmoke;
  }
  
  .menu {
    height: 50%;
    z-index: 1;
    overflow-x: hidden;
    padding: 20px;
    margin:20%;
    border-radius:50px;
    background-color: #916BBF;
  }
  
  
  
  .popular-main-left{
  background-color: #C996CC;
  padding:15px;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .popular-main-right{
  background-color: #C996CC;
  padding:15px;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .example-margin {
  margin-left:30px;
  margin-top:20px;
  width:800px;
  }
  
  .menu-fa{
  font-size:25px; 
  margin:5px;
  margin-top:10px
  }
  
  .table{
    border-color: transparent !important;
    border-radius: 25px !important;
    border-width: 5px !important;
    border-style: solid !important;
    width: 90%;  /*Tested and working as expected: */
    padding-top: 1%;
    margin: 0px auto;
    float: none;
}
.styled-table {
    border-collapse: separate;
    border-spacing: 0 5px; /* Adds space between rows */
    opacity: 50%;
    width: 100%;
    border: none;
}

.header-cell {
    background-color: #916BBF;
    padding: 10px;
}

.body-row {
    background-color: #916BBF;
    border: none;
    border-radius: 10px; /* Adds rounded corners to rows */
    overflow: hidden; /* Ensures rounded corners are visible */
    margin-bottom: 10px;
}

.body-cell {
    padding: 10px;
    border: none;
}

.body-row:hover {
    background-color: #7D57A5; /* Adds a hover effect to the rows */
}

#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3D2C8D;
}