
<div class="test" style="top:0; left: 0; height: 100vh; width: 100vw; z-index:200; background-color: #1C0C5B; position: fixed; ">
  <div class="container">

      <div class="section">
          <div class="container">
              <div class="row full-height justify-content-center">
                  <div class="col-12 text-center align-self-center py-5">
                      <div class="section pb-5 pt-5 pt-sm-2 text-center">
                          <h6 class="mb-0 pb-3" style="color: white;"><span>Log In </span><span>Sign Up</span></h6>
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                            <label for="reg-log"></label>
                          <div class="card-3d-wrap mx-auto">
                              <div class="card-3d-wrapper">
                                  <div class="card-front">
                                      <div class="center-wrap">
                                          <div class="section text-center">
                                              <h4 class="mb-4 pb-3" style="color: white;">Log In</h4>
                                              <div class="form-group">
                                                  <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                  <i class="fa-solid fa-at input-icon uil uil-at"></i>
                                              </div>	
                                              <div class="form-group mt-2">
                                                  <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                  <i class="fa-solid fa-key input-icon uil uil-lock-alt"></i>
                                              </div>
                                              <a routerLink="/home" class="btn mt-4">Login</a>
                                              </div>
                                        </div>
                                    </div>
                                  <div class="card-back">
                                      <div class="center-wrap">
                                          <div class="section text-center">
                                              <h4 class="mb-4 pb-3" style="color: white;">Sign Up</h4>
                                              <div class="form-group">
                                                  <input type="text" name="logname" class="form-style" placeholder="Your Username" id="logname" autocomplete="off">
                                                  <i class="fa-solid fa-user input-icon uil uil-user"></i>
                                              </div>
                                              <div class="form-group mt-2">
                                                  <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                  <i class="fa-solid fa-at input-icon uil uil-at"></i>
                                              </div>	
                                              <div class="form-group mt-2">
                                                  <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                  <i class="fa-solid fa-key input-icon uil uil-lock-alt"></i>
                                              </div>
                                              <a routerLink="/home" class="btn mt-4">Register</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>