<div class="test" style="top:0; left: 0; height: 100vh; width: 100vw; z-index:200; background-color: #1C0C5B; position: fixed;">
    <div class="container left-nav">
        <div class="menu">
            <div class="row" style="margin-top:30px">
                <i routerLink="/home" style="cursor: pointer;" class="fa-solid fa-house menu-fa"></i>
                <i routerLink="/liked_songs" style="cursor: pointer;" class="fa-solid fa-heart-circle-check menu-fa"></i>
                <i routerLink="/library" style="cursor: pointer;" class="fa-solid fa-layer-group menu-fa"></i>
                <i routerLink="/feedback" style="cursor: pointer;" class="fa-solid fa-envelope menu-fa"></i>
                <a target="_blank" href="https://github.com/niturazvan36/MusicApp"><i class="fa-brands fa-github menu-fa"></i></a>
                <i (click)="openDialog()" style="cursor: pointer;" class="fa-solid fa-user menu-fa"></i>
            </div>
          </div>
      </div>
    <div class="container">
        <img src="../../../assets/images/email3.png" style="width: 600px; margin-top:12%; margin-left:5%;">
    </div>
    <div class="container-feedback d-flex justify-content-center align-items-center">
        <form style="height: 750px; position: fixed; margin-top: -50%; margin-left: 30%;">
            <h1 class="title text-center mb-4" style="color: white; font-family: Quicksand">Get in touch</h1>
    
                <!-- Name -->
                <div class="form-group position-relative" style="margin-top:2%;">
                    <label for="formName" class="d-block">
                        <i class="icon fa-solid fa-user"></i>
                        
                    </label>
                    <input type="text" id="formName" class="form-control form-control-lg thick" placeholder="Name">
                </div>
    
                <!-- E-mail -->
                <div class="form-group position-relative" style="margin-top:2%;">
                    <label for="formEmail" class="d-block">
                        <i class="icon fa-solid fa-envelope"></i>
                    </label>
                    <input type="email" id="formEmail" class="form-control form-control-lg thick" placeholder="E-mail">
                </div>
    
                <!-- Message -->
                <div class="form-group message" style="margin-top:2%;" >
                    <textarea id="formMessage" class="form-control form-control-lg" rows="7" placeholder="Message"></textarea>
                </div>
            
                <!-- Submit btn -->
                <div class="text-center" style="margin-top:2%;">
                    <button type="submit" class="btn btn-primary" tabIndex="-1">Send message</button>
                </div>
        </form>
    </div>
</div>

<!-- 

  https://colorlib.com/wp/css3-table-templates/
-->