<div class="container" style="background-color: #3D2C8D; padding: 10%;">
    <form>
        <h1 class="title text-center mb-4" style="color: white; font-family: Quicksand">Add to playlist</h1>
    
        <div class="form-group position-relative" style="margin-top:2%;">
            <section style="color: whitesmoke; margin-left:20%;">
                <h4>Select your toppings:</h4>
                <p style="color: whitesmoke; margin-left:5%"><mat-radio-button>test</mat-radio-button></p>
                <p style="color: whitesmoke; margin-left:5%"><mat-radio-button>doi</mat-radio-button></p>
              </section>
        </div>

        <div class="text-center" style="margin-top:10%;">
            <button  (click)="confirm()" type="submit" class="btn btn-primary" tabIndex="-1">Add to the selected playlist</button>
        </div>
    </form>
</div>