/* You can add global styles to this file, and also import other style files */
body{
 background-color: #1C0C5B;   
 margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

img:hover{
    cursor: pointer;
}
.fa-folder-plus, .fa-repeat, .fa-heart, .fa-backward, .fa-play, .fa-pause, .fa-forward{
    cursor: pointer;
}
label {
    color: whitesmoke; /* Ensures the label text is white */
  }